<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <!-- this is the homepage/root directory -->
    <h1><%= title %></h1>
    <p>Welcome to <%= title %>
      <br>follow the money and keep your representatives accountable. post findings and your own analysis to your board.
    </p>
    <!-- this button will direct user to the /allReps page -->
    <button>See Representatives</button>
  </body>
</html>

